@import "../../../styles/abstracts/variables.scss";

.Footer {
  background-image: linear-gradient(
    to bottom right,
    $color-primary,
    $color-quinary
  );
  color: $color-white;
  font-size: $default-font-size;
  padding-top: 7rem;
  padding-bottom: 7rem;

  &__Brand {
    a {
      border-bottom: none;
      color: inherit;
    }
  }

  & > *:first-child {
    display: flex;
    justify-content: space-between;
    // padding: 0;
  }

  &__Site {
    ul {
      list-style: none;
      font-size: $default-font-size;
      a {
        color: $color-white;
        border-bottom: none;
      }
    }
  }

  &__Bottom {
    margin-top: 4rem;
    // padding-top: 1rem;
    padding-bottom: 1rem;

    font-size: small;
    opacity: 0.67;

    &__Border {
      border-top: 0.5px solid $color-white;
      width: 100%;
    }

    &__Content {
      padding-top: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__Copyright {
        flex: 0 1 25%;
      }

      &__GWW {
        a {
          color: $color-white;
          border-bottom: none;
          transition: all .2s;

          &:hover {
            color: $color-quaternary;
          }
        }
        flex: 1 0 50%;
        flex-basis: 50%;
        text-align: center;
        opacity: .67;
      }

      &__Social {
        flex: 0 1 25%;
        display: flex;
        justify-content: flex-end;

        a {
          text-decoration: none;
          border-bottom: none;

          &:not(:last-child) {
            margin-right: 1rem;
          }

          svg {
            height: 2.25rem;
            width: 2.25rem;
            fill: $color-white;
            transition: all 0.2s;
          }

          &:hover {
            svg {
              fill: $color-quaternary;
            }
          }
        }
      }
    }
  }
}
