@import "../../../styles/abstracts/variables.scss";

.Footer {
  background-image: linear-gradient(
    to bottom right,
    $color-primary,
    $color-quinary
  );
  color: $color-white;
  font-size: $default-font-size;
  padding-top: 7rem;
  padding-bottom: 7rem;

  &__Brand {
    a {
      border-bottom: none;
      color: inherit;
    }
  }

  & > *:first-child {
    display: flex;
    justify-content: space-between;
    // padding: 0;
  }

  &__Bottom {
    margin-top: 4rem;
    // padding-top: 1rem;
    padding-bottom: 1rem;

    font-size: small;
    opacity: 0.67;

    &__Border {
      border-top: 0.5px solid $color-white;
      width: 100%;
    }

    &__Content {
      padding-top: 1rem;
      display: flex;
      justify-content: space-between;
    }
  }
}
