@import "../../../styles/abstracts/mixins";

.NavItems {
    // background-color: orangered;
    // width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 700;

    @include respond(tab-port) {
        flex-direction: column;
        gap: 3rem;
        font-size: 1.8rem;
    }

}