// COLORS
$color-primary: #E46332;

$color-secondary: #E89878;

$color-ternary: #634134;

$color-quaternary: #632C16;

$color-quinary: #B04E27;

$color-white: #eee;

$color-black: #111;


// FONT
$default-font-size: 1.6rem;