@import "../../../styles/abstracts/mixins";

.Feature {
  display: flex;
  margin: 8rem auto;
  width: 90%;
  flex-direction: row-reverse;

  @include respond(tab-port) {
    flex-direction: column !important;
  }

  .Image {
    position: relative;
    flex: 0 0 50%;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
    overflow: hidden;
    // height: 40rem;
    // width: 50%;
    // padding: 5rem;
    // margin: 5rem;
  }

  .Text {
    flex: 0 0 50%;
    // flex-grow: 1;
    // grid-column: 2 / 3;
    // grid-row: 1 /2;
    // width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem;
  }

  &__ReverseRow {
    // background-color: orangered;
    flex-direction: row;

    .Image {
      // grid-column: 1 / 2;
    }
  }
}
