@import "../../../styles/abstracts/variables.scss";

.toolbar {
  // background-color:  $color-quintary;
  background-image: linear-gradient(to bottom right, $color-primary, $color-quinary);
  font-size: 2rem;
  font-weight: 900;
  color: $color-white;

  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
  }
}
