@import "../../styles/abstracts/variables.scss";

.Podcast {
  // background-color: orangered;
  padding: 5rem auto;
  font-size: $default-font-size;
  line-height: 1.5;

  &__Top {
    display: flex;

    &__Image {
      height: 30rem;
      width: 100%;
      position: relative;
      flex: 0 0 50%;
    }
  }

  &__Main {
    &__Episodes {
      & > *:nth-child(even) {
        background-color: lighten($color-quinary-lighter, 15%);
      }

      &__Episode {
        display: flex;
        margin: 2rem auto;
        padding: 2rem 2rem;
        gap: 2rem;

        &__Image {
          position: relative;
          height: 15rem;
          flex: 0 0 17rem;
          align-self: center;
        }

        &__Title {
          // background-color: orangered;
          font-weight: 400;
          font-size: 2.2rem;
          text-transform: uppercase;
          letter-spacing: 0.6px;
        }

        &__Date {
          font-weight: 800;
          font-size: 1.5rem;
          color: $color-quaternary;
          margin: 0.75rem 0;
        }

        &__Player {
          background-color: orangered;
        }
      }
    }
  }
}

.reactplayer__preview {
  & > * {
    justify-content: flex-start !important;
  }
}
