@import "../../../styles/abstracts/variables.scss";

.BlogCards {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(39rem, 1fr));
  grid-gap: 2rem;
  font-size: 1.6rem;
}
