.main {
  // background-color: orangered;

  .topImage {
    position: relative;
    height: 65vh;
    width: 100vw;
  }

  h1 {
    // position: "absolute", top: "69%", right: "5%", fontSize: "4.5rem", color: "#eee", textAlign: "right"
    position: absolute;
    top: 59%;
    right: 5%;
    font-size: 5rem;
    color: #eee;
    text-align: right;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing:.6rem;
  }
}
