@import "../styles/abstracts/mixins";
@import "../styles/abstracts/variables.scss";

.main {
  // background-color: orangered;
  background-color: $color-primary-light;
  padding-top: 0;

  .header {
    .topImage {
      position: relative;
      height: 65vh;
      width: 100vw;
    }

    h1 {
      // position: "absolute", top: "69%", right: "5%", fontSize: "4.5rem", color: "#eee", textAlign: "right"
      position: absolute;
      top: 60%;
      right: 5%;
      font-size: 5rem;
      color: #eee;
      text-align: right;
      font-weight: 400;
      text-transform: uppercase;
      // letter-spacing:.6rem;

      @include respond(phone) {
        top: 54%;
      }
    }
  }

  .mission {
    background-color: $color-primary-light;
    text-align: center;
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    &__Statement {
      font-size: 3rem;
      margin-bottom: 3rem;
    }
    &__Explanation {
      font-size: 1.7rem;
      line-height: 1.5;
    }
  }

  .about {
    // background-color: $color-primary-light;
    margin: auto;
    padding: 8rem 0;

    .personal {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      align-items: center;
      // grid-gap: 10rem;

      .aboutPhoto {
        position: relative;
        border-radius: 3px;
        overflow: hidden;
        aspect-ratio: 1 / 1;
      }

      .text {
        padding: 8rem 8rem;
      }
    }
  }

  .latestBlog {
    font-size: $default-font-size;
    line-height: 1.5;

    h2 {
      margin-bottom: 1.8rem;
    }

    h3 {
      margin: 1.3rem 0;
      border-bottom: none;
      width: fit-content;
    }

    &__container {
      display: flex;

      @include respond(tab-port) {
        flex-direction: column-reverse;
      }

      &__text {
        flex: 0 0 50%;
        padding: 10rem;
        position: relative;

        &__excerpt {
          margin-bottom: 1rem;
          margin-top: 1rem;
        }

        &__otherPosts {
          margin-top: 1rem;
        }

        &__topics {
          // margin-top: 2rem;
          margin-bottom: 2.5rem;
          display: flex;
          flex-wrap: wrap;
          font-size: 1.3rem;
          gap: 1rem;
        }

        @include respond(tab-port) {
          padding: 2rem 0 0 0;
        }
      }

      &__image {
        position: relative;
        flex: 0 0 50%;
        height: auto;

        a {
          display: block;
          position: relative;
          height: 100%;
          width: 100%;
          border: none;
        }

        @include respond(tab-port) {
          flex: unset;
          height: 35rem !important;
        }
      }
    }
  }

  .Podcast {
    font-size: $default-font-size;
    line-height: 1.5;
    margin: 8rem auto;

    h2 {
      margin-bottom: 1.8rem;
    }

    h3 {
      margin: 1.3rem 0;
      border-bottom: none;
      width: fit-content;
    }
    // background-color: orangered;

    &__container {
      display: flex;
      flex-direction: row-reverse;

      @include respond(tab-port) {
        flex-direction: column-reverse;
        margin-top: 16rem;
      }

      &__text {
        flex: 0 0 50%;
        padding: 10rem;
        position: relative;

        &__excerpt {
          margin-bottom: 1rem;
        }

        @include respond(tab-port) {
          padding: 2rem 0 0 0;
        }
      }
    }
  }

  .Newsletter {
    font-size: $default-font-size;
    line-height: 1.5;
    margin: 8rem auto;

    h2 {
      margin-bottom: 1.8rem;
    }

    h3 {
      margin: 1.3rem 0;
      border-bottom: none;
      width: fit-content;
    }
    // background-color: orangered;

    &__container {
      display: flex;
      // flex-direction: row-reverse;

      @include respond(tab-port) {
        flex-direction: column-reverse;
        margin-top: 18rem;
      }

      &__text {
        flex: 0 0 50%;
        padding: 10rem;
        position: relative;

        &__excerpt {
          margin-bottom: 1rem;
          margin-top: 1rem;
        }

        @include respond(tab-port) {
          padding: 2rem 0 0 0;
        }
      }

      &__image {
        border: none;
      }
    }
  }
}
